.header {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.header div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header div span {
  background-color: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  padding: 0 0.5rem;
  border-radius: 999px;
}

.toDosCreated {
  color: var(--blue);
  font-size: 0.875rem;
}

.toDosCompleted {
  color: var(--purple);
  font-size: 0.875rem;
}

.toDosListContainer {
  margin: 1.5rem 0;
  flex-grow: 1;
  overflow: auto;
}

.toDosList {
  display: grid;
  gap: 0.75rem;
  margin-right: 0.5rem;
}
