.header {
  display: flex;
  justify-content: space-between;
}

.header div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 4rem;
}

.header div span:last-of-type {
  background-color: var(--gray-400);
  color: var(--gray-200);
  font-size: 0.75rem;
  padding: 0 0.5rem;
  border-radius: 999px;
}

.toDosCreated {
  color: var(--blue);
  font-weight: bold;
  font-size: 0.875rem;
}

.toDosCompleted {
  color: var(--purple);
  font-weight: bold;
  font-size: 0.875rem;
}

.emptyToDos {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyToDos div {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.emptyToDos div span {
  color: var(--gray-300);
  line-height: 1.4;
}

.emptyToDos div span:first-of-type {
  font-weight: bold;
}

.emptyToDos div span:last-of-type {
  font-weight: regular;
}
