.toDoItemContainer {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.75rem;
  width: 100%;
  height: 4.5rem;
  padding: 1rem;
  border-radius: 8px;
}

.toDoItemContainer div {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 0.75rem;
  align-items: flex-start;
}

.toDoItemContainer div p {
  color: var(--gray-100);
  flex: 1;
  font-size: 0.875rem;
  line-height: 1.4;
}

.toDoItemContainer div s {
  color: var(--gray-300);
}

.trashButton {
  color: var(--gray-300);
  background: transparent;
  border: 0;
  cursor: pointer;
  line-height: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
}

.trashButton:hover {
  background-color: var(--gray-400);
  color: var(--danger);
}

.completeToDo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  line-height: 0;
  border: 0;
  border-radius: 4px;
  width: 1.5rem;
  height: 1.5rem;
}

.completeToDo svg {
  border-radius: 50%;
  color: transparent;
  border: 2px solid var(--blue);
}

.completeToDo svg:hover {
  border: 2px solid var(--blue-dark);
  background-color: var(--blue-dark-blured);
}

.reopenToDo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  line-height: 0;
  border: 0;
  border-radius: 4px;
  width: 1.5rem;
  height: 1.5rem;
}

.reopenToDo svg {
  color: var(--gray-100);
  background-color: var(--purple-dark);
  border: 3px solid var(--purple-dark);
  border-radius: 50%;
}

.reopenToDo svg:hover {
  background-color: var(--purple);
  border: 3px solid var(--purple);
}
